%div.social-media
  %a{:href => "https://github.com/444c43"}
    .icon.fa-github-alt.fa-3x
  %a{:href => "http://twitter.com/2toneDL"}
    .icon.fa-twitter.fa-3x
  %a{:href => "https://www.strava.com/athletes/devdl"}
    .icon.fa-bicycle.fa-3x
  %a{:href => "https://www.linkedin.com/in/devdl"}
    .icon.fa-linkedin-square.fa-3x
