%nav.fa-container
  %a.col-5{ href: "https://github.com/444c43", target: '_blank' }
    %span web
    %span.icon.fa-github
    %span developer
  .col-2 &nbsp;&bull;&nbsp;
  %a.col-5{ href: "http://twitter.com/2toneDL", target: '_blank' }
    %span social
    %span.icon.fa-twitter
    %span bunny
  %p
  %a.col-5{ href: "http://main.nationalmssociety.org/goto/2toneDL", target: '_blank' }
    %span avid
    %span.icon.fa-bicycle
    %span cyclist
  .col-2 &nbsp;&bull;&nbsp;
  %a.col-5{:href => "#"}
    %span cultural
    %span.icon.fa-comment
    %span thinker

