#content
  %h1.about-me
    About Me!
    %h2.outside-links
      Find Me Here
      = render 'outside_links'
    %h2.influences
      Influences
      = render 'influences'
  %h1.about-blog
    This Blog
    %h2.purpose
      Purpose
      = render 'purpose'
    %h2.questions
      Questions
      = render 'questions'
