#wrapper
  #bg
  #overlay
  #main
  %header#header 
    %h1 DL Cummings
    %p almost-dev &nbsp;&bull;&nbsp; almost-dev &nbsp;&bull;&nbsp; Never asked for this
    %nav
      %ul
        %li
          %a.icon.fa-twitter{:href => "#"}
            %span.label Twitter
        %li
          %a.icon.fa-twitter{:href => "#"}
            %span.label Github 
        %li
          %a.icon.fa-twitter{:href => "#"}
            %span.label Email 
