#content
  %header#header 
    %h2 About Me!
    %nav.fa-container
      %a.icon.fa-github{:href => "https://github.com/444c43"}
        web developer
      &nbsp;&bull;&nbsp;
      %a.icon.fa-twitter{:href => "http://twitter.com/2toneDL"}
        social bunny
      %p
      %a.icon.fa-bicycle{:href => "#"}
        cyclist &nbsp;&bull;&nbsp;
      %a.icon.fa-comment{:href => "#"}
        social critic
    %h2 About This Blog
    %nav
      Some interesting things about this blog
