#content
  %div.about-me
    %h1
      %h2.outside-links
        Find Me Here
        = render 'outside_links'
        %hr
      %h2.influences
        Influences
        = render 'influences'
        %hr
      %h2.purpose
        Purpose
        = render 'purpose'
