#content
  %ul
    %li.about-me
      = render 'who_is_dl'
      = render 'outside_links'
    %li.latest-post Latest Post
    %article.box.post.post-excerpt
      %header
        %h2= link_to latest.title, blog_path(latest.slug)
      %p= latest.blurb
