#content
  %h1.about-me
    About Me!
    %h2.outside-links
      = render 'outside_links'
    %h2.influences
      Influences
  %h1.about-blog
    This Blog
    %h2.purpose
      Purpose
    %h2.questions
      Questions
