%nav#nav
  %ul
    %li.topics= link_to 'Culture', :culture
    %li.topics= link_to 'Health', :health
    %li.topics= link_to 'Jacksonville', :jacksonville
    %li.topics= link_to 'Technology', :technology
