%nav#nav
  Post Topics
  %ul
    %li.topics= link_to 'Culture & Politics', :culture
    %li.topics= link_to 'Health & Nutrition', :health
    %li.topics= link_to 'Jacksonville', :jacksonville
    %li.topics= link_to 'Technology & Code', :technology
