.pagination
  .pages
    %a.active{:href => "#"} 1
    %a{:href => "#"} 2
    %a{:href => "#"} 3
    %a{:href => "#"} 4
    %span &hellip;
    %a{:href => "#"} 20
  %a.button.next{:href => "#"} Next Page
